/*colors*/
/*greys:*/
/* additional colors*/
/*?*/
/* TODO: this are verified: */
/* item title border */
.text-light .text-dark .item-title, .text-dark .item-title {
  color: #757575; }

.text-light .text-dark a.item-title, .text-dark a.item-title {
  color: #212121; }

.text-light .text-dark .item-title:after, .text-dark .item-title:after {
  border-color: #212121; }

.text-light .text-dark .border, .text-dark .border {
  border-color: #212121; }

.text-dark .text-light .item-title:after, .text-light .item-title:after {
  border-color: #fff; }

.text-dark .text-light .border, .text-light .border {
  border-color: #fff; }

@media (min-width: 992px) {
  .site-branding.text-light a.site-title .h1 {
    color: #fff; }
  .site-branding.text-dark a.site-title .h1 {
    color: #212121; } }

.text-dark, .text-light .text-dark {
  color: #757575; }
  .text-dark a:not(.btn), .text-light .text-dark a:not(.btn) {
    color: #212121; }
  .text-dark h2.item-title, .text-dark h3.item-title, .text-dark h4.item-title, .text-light .text-dark h2.item-title, .text-light .text-dark h3.item-title, .text-light .text-dark h4.item-title {
    color: #757575; }

.text-light a:not(.btn), .text-dark .text-light a:not(.btn) {
  color: #ffffff; }

.text-light h2.item-title, .text-light h3.item-title, .text-light h4.item-title, .text-dark .text-light h2.item-title, .text-dark .text-light h3.item-title, .text-dark .text-light h4.item-title {
  color: #fff; }

.text-light button.btn-empty:hover, .text-light .btn.btn-empty:hover, .text-light input.btn-empty[type="submit"]:hover, .text-dark .text-light button.btn-empty:hover, .text-dark .text-light .btn.btn-empty:hover, .text-dark .text-light input.btn-empty[type="submit"]:hover {
  color: #fff !important; }

.text-dark button.btn-empty:hover, .text-dark .btn.btn-empty:hover, .text-dark input.btn-empty[type="submit"]:hover, .text-light .text-dark button.btn-empty:hover, .text-light .text-dark .btn.btn-empty:hover, .text-light .text-dark input.btn-empty[type="submit"]:hover {
  color: #212121 !important; }

/* TODO: should be reviewed and changed accordingly: */
.text-dark {
  color: #757575; }
  .text-dark > h1, .text-dark > h2, .text-dark > h3, .text-dark > h4, .text-dark > h5, .text-dark > h6 {
    color: #212121; }

.text-light {
  color: rgba(255, 255, 255, 0.8); }
  .text-light > h1, .text-light > h2, .text-light > h3, .text-light > h4, .text-light > h5, .text-light > h6 {
    color: #fff; }

.text-dark {
  color: #757575; }
  .text-dark > h1, .text-dark > h2, .text-dark > h3, .text-dark > h4, .text-dark > h5, .text-dark > h6 {
    color: #212121; }

.text-light {
  color: rgba(255, 255, 255, 0.8); }
  .text-light > h1, .text-light > h2, .text-light > h3, .text-light > h4, .text-light > h5, .text-light > h6 {
    color: #fff; }

h1.text-dark, h2.text-dark, h3.text-dark, h4.text-dark, h5.text-dark, h6.text-dark {
  color: #212121; }
  h1.text-dark > small, h1.text-dark.small, h2.text-dark > small, h2.text-dark.small, h3.text-dark > small, h3.text-dark.small, h4.text-dark > small, h4.text-dark.small, h5.text-dark > small, h5.text-dark.small, h6.text-dark > small, h6.text-dark.small {
    color: #757575; }

h1.text-light, h2.text-light, h3.text-light, h4.text-light, h5.text-light, h6.text-light {
  color: #fff; }
  h1.text-light > small, h1.text-light.small, h2.text-light > small, h2.text-light.small, h3.text-light > small, h3.text-light.small, h4.text-light > small, h4.text-light.small, h5.text-light > small, h5.text-light.small, h6.text-light > small, h6.text-light.small {
    color: #fff; }

.separator-style-1.style-text-light:before {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); }

.separator-style-2.style-text-light:before {
  background-color: #fff; }

.separator-style-2 h1.text-light:before, .separator-style-2 h2.text-light:before, .separator-style-2 h3.text-light:before, .separator-style-2 h4.text-light:before, .separator-style-2 h5.text-light:before, .separator-style-2 h6.text-light:before {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); }

.separator-style-2.text-center h1.text-light:before, .separator-style-2.text-center h2.text-light:before, .separator-style-2.text-center h3.text-light:before, .separator-style-2.text-center h4.text-light:before, .separator-style-2.text-center h5.text-light:before, .separator-style-2.text-center h6.text-light:before {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); }

.separator-style-2.text-center h1.text-light:after, .separator-style-2.text-center h2.text-light:after, .separator-style-2.text-center h3.text-light:after, .separator-style-2.text-center h4.text-light:after, .separator-style-2.text-center h5.text-light:after, .separator-style-2.text-center h6.text-light:after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); }

.panel-group.text-light .panel-title > a:after {
  color: #fff; }

.panel-group.default_bg.text-dark {
  background-color: #fff; }

.panel-group.default_bg.text-light {
  background-color: #212121; }

.orion-pricelist .item-title.text-dark:after {
  border-color: rgba(0, 0, 0, 0.05); }

.orion-pricelist .item-title.text-light:after {
  border-color: rgba(255, 255, 255, 0.1); }

.widget_orion_team_w .entry-content.text-dark a.category {
  color: #757575; }

a:not(:hover) > h2.item-title.text-dark, a:not(:hover) > h3.item-title.text-dark, a:not(:hover) > h4.item-title.text-dark {
  color: #212121; }

/* TODO: should not be needed: */
