/* dev */
.site.devel {
  position: relative; }
  .site.devel .show-grid {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url("../img/grid.png") repeat-y scroll 50% 0 !important;
    pointer-events: none;
    z-index: 111; }
    .site.devel .show-grid:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      pointer-events: none;
      background: linear-gradient(rgba(255, 0, 0, 0.15), rgba(255, 0, 0, 0.15) 1px, transparent 1px);
      background-size: 1px 12px; }
